/* 전체 섹션 중앙 정렬 */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 수평 중앙 정렬 */
  justify-content: center;
  /* 수직 중앙 정렬 */
  text-align: center;
  /* 텍스트 중앙 정렬 */
  padding: 50px 0;
  /* 상하 패딩을 동일하게 설정 */
  background-color: #fbcb3b;
}

/* Skills 제목 */
.skills-header {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  /* 제목 중앙 정렬 */
}

/* Skills 텍스트 스타일 */
.skills-header span {
  border-bottom: 1px solid #4a4949d4;
  /* 얇은 회색 밑줄 추가 */
  padding-bottom: 2px;
  /* 밑줄과 텍스트 사이 여백 */
  display: inline-block;
  /* span을 inline-block으로 변경 */
  margin-left: 10px;
  /* 아이콘과 텍스트 사이 간격 */
}

/* .skills-details 클래스의 기본 스타일 설정 */
.skills-details {
  display: flex;
  /* 요소 내부를 flexbox로 배치 */
  padding: 20px;
  /* 초기 패딩 설정: 모든 면에 20px 패딩 적용 */
  max-width: 1000px;
  /* 최대 너비 1000px로 제한, 화면이 크더라도 1000px를 초과하지 않음 */
  width: 100%;
  /* 화면 너비에 맞게 100% 너비 사용 (반응형) */
  flex-direction: column;
  /* flexbox 아이템들을 수직(세로) 방향으로 배치 */
  gap: 30px;
  /* flex 아이템 간의 간격 30px */
  background-color: #fdecca;
  /* 배경색을 연한 베이지 색으로 설정 */
  border-radius: 20px;
  /* 모서리를 둥글게 처리 */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  /* 그림자 효과 (x, y, blur, 색상) */
  box-sizing: border-box;
  /* padding과 border가 요소의 너비 및 높이에 포함되도록 설정 */
}

.skills-category {
  display: flex;
  /* flex-direction: column; */
  gap: 30px;

}

.category-header {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  gap: 20px;
  width: 15%;
  /* 3:7 비율에서 3에 해당하는 부분 */
  flex-shrink: 0;
}

/* 화면 너비가 1200px 이하일 때 적용되는 미디어 쿼리 */
@media (max-width: 1200px) {
  .skills-details {
    max-width: 80%;
    /* 최대 너비를 80%로 설정하여 화면 크기에 맞춰 너비를 축소 */
  }
}

@media (max-width: 1000px) {
  .skills-header {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .skills-header {
    font-size: 40px;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  /* 줄바꿈 허용 */
  gap: 10px;
  width: 85%;
  /* 3:7 비율에서 3에 해당하는 부분 */
  flex-grow: 1;
  /* items가 가능한 공간을 차지하도록 설정 */
  align-items: flex-start;
  /* 위쪽 정렬로 변경 */
}

.skill-item {
  padding: 5px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
}

/* 반응형 스타일 */
@media (max-width: 900px) {

  /* 화면 크기가 작아질 때 */
  .skills-category {
    flex-direction: column;
    /* 카테고리와 아이템을 세로로 정렬 */
    gap: 10px;
    /* 간격 축소 */
  }
}

/* 줄바꿈을 위해 white-space 설정 */
.category-header span {
  white-space: pre-line;
  /* 줄바꿈 처리 */
  text-align: left;
  /* 텍스트 왼쪽 정렬 */
}

.skill-icon {
  color: #fd9620;
  /* 진한 회색 */
  font-size: 30px;
  /* 아이콘 크기 */
  flex-shrink: 0;
  /* 아이콘이 크기 조정되지 않도록 고정 */
}